<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="pb-3 mb-5 border-bottom">
    <div class="row justify-content-center text-center">
      <a href="/">
          <img src="../assets/logo.png" alt="Alex's IP Heatmap"/>
      </a>
    </div>
  </header>

  <main>
    <p class="fs-5 col-md-8">Explore the map to see the distribution of IP Addresses all over the world.</p>

    <div class="mb-5">
      <div class="col">
        <div class="map-frame">
          <div id="map"></div>
        </div>
      </div>
    </div>

    <hr class="col mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2>Future Improvements</h2>
        <p>This project isn't fully optimized. Here a few of the improvements that could be made.</p>
        <ul class="icon-list">
          <li>Item1</li>
          <li>Item2</li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>What are IP addresses?</h2>
        <p>Read more detailed instructions about what IP addresses are in the links below.</p>
        <ul class="icon-list">
          <li><a href="https://en.wikipedia.org/wiki/IP_address" target="_blank">IP Address Wikipedia</a></li>
          <li><a href="https://nordvpn.com/what-is-my-ip" target="_blank">What is your IP?</a></li>
          <li><a href="https://www.mcafee.com/blogs/consumer/do-i-need-to-hide-my-ip-address" target="_blank">How can you protect your IP online?</a></li>
        </ul>
      </div>
    </div>
  </main>
  <footer class="pt-5 my-5 text-muted border-top text-center">
    Created by Alex Drinkwater &middot; 2021
  </footer>
</div>
